@page "/plataformas"
@using tareaPweb.Data
@using tareaPweb.models
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject AppDbContext context
@rendermode InteractiveServer
<h3>Lista de Plataformas</h3>

<button class="btn btn-success mb-3" @onclick="AgregarPlataforma">Agregar Plataforma</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plataforma in listaPlataformas)
        {
            <tr>
                <td>@plataforma.Nombre</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="estadoPlataforma" checked="@plataforma.Estado"
                            @onchange="() => ActivarDesactivarPlataforma(plataforma)">

                    </div>
                </td>

                <td>
                    <button class="btn btn-primary btn-sm" @onclick="() => EditarPlataforma(plataforma)">Editar</button>
                    <button class="btn btn-info btn-sm" @onclick="() => VerDetalles(plataforma)">Detalles</button>
                    <button class="btn btn-danger btn-sm" @onclick="() => EliminarPlataforma(plataforma)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    // Lista de plataformas (ejemplo de datos)
    private List<Plataforma> listaPlataformas = new List<Plataforma>();


    protected override async Task OnInitializedAsync()
    {
        listaPlataformas = await context.Plataformas.ToListAsync();
    }

    private void AgregarPlataforma()
    {
        NavigationManager.NavigateTo("/plataforma-form");
    }

    private void ActivarDesactivarPlataforma(Plataforma plataforma)
    {
        plataforma.Estado = !plataforma.Estado;
        context.Plataformas.Update(plataforma);
        context.SaveChanges();
        listaPlataformas = context.Plataformas.ToList();
    }

    private void EditarPlataforma(Plataforma plataforma)
    {
        // Navegar a la página de edición
        NavigationManager.NavigateTo($"/plataforma-form/{plataforma.PlataformaId}");
    }

    private void VerDetalles(Plataforma plataforma)
    {
        // Navegar a la página de detalles
        NavigationManager.NavigateTo($"/plataforma-detalles/{plataforma.PlataformaId}");
    }

    private void EliminarPlataforma(Plataforma plataforma)
    {
        context.Plataformas.Remove(plataforma);
        context.SaveChanges();
        listaPlataformas = context.Plataformas.ToList();
    }
}
